/* Génerale */

body{

    padding: 0px;
    margin: 0px;
    font: 16px 'Raleway',sans-serif ;
}

#containeur{
   
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 90px 270px 745px 600px 220px;
    grid-template-rows: 90px 330px 745px 600px 220px;
        grid-template-areas:
        "head head"
        "section-research section-research"
        "section-housing-result most-popular"
        "activity activity"
        "footer footer";
}

/* Assignation de marge de 20px a droite et à gauche*/
.placement{

    margin-left: 20px;
    margin-right: 20px;
}

/*les titres*/
h1{

    font-weight: bold;
    font-size: 1.5rem;
    font-style: normal;
}

h2{
    font-weight: bold;
    font-size: 1.2rem;
}

/* les notes étoiles*/

.fa-star{
    font-size: 10px;
    color: #0171ff; 
}

/*head*/

header{

    grid-area: head;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    
}
/*navigateur du site*/
header > nav{

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    width: 100%;
}

/* le logo réservia*/
header > nav > #logo-reservia{
    size: 100px;
    padding-right: 0px;
    position: absolute;
    left: 0px;
}


header > nav > #navigation{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 300px;
    list-style: none; 
    margin: 20px;
}


#navigation > li > a{

    margin-top: 55px;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
    text-align: center;
    line-height: 1em ;
    text-decoration: none;
}

#navigation > li > a:hover{

    border-top: 5px solid #0065FC;
    color:#0065FC;
}

header > nav > #subsrcibe{

    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    height: 20px;
}


/*<!bar de recherche et filtres*/

#section-research{

    grid-area: section-research;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#section-research > #research > p{

    font-size: 0.9rem;
    line-height: 1.5;
}

.search-box{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    max-width: 450px;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    overflow: hidden;
    outline: none;
}

#button{
    display: none;
}

.position{

    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #f2f2f2;
}


input[type="submit"]{

    background-color: #0171ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    width: 135px;
    font-weight: 800;
    font-size: 1rem;
    color: white;
    outline: none;
    border: none;
}

input[type="submit"]:hover{
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


input{
    border: none;
    outline: none;
    font-size: 1.1rem;
}

#city-search{

    margin-left: 50px;
    padding-left: 20px;
}



/*filtres de sélection*/

.btn-filter{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    width: auto;
    height: 50px;
    border: 2px solid #dbdbdb;
    border-radius: 50px;
    overflow: hidden;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 30px;      
}

.btn-filter:hover{

    border: 2px solid #0171ff;
    background-color: #0171ff;
    color: white;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#filter{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 940px;
    height: auto;
}

/*Les images des filtres*/
.img-filtre{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #e0edff;
    width: 50px;
    height: auto;
    background-color: #e0edff;
    border-radius: 50px;
    outline: none;
}


.fa-money-bill-wave{

    font-size: 24px;
    color: #0171ff;
}

.fa-child{

    font-size:24px;
    color:#0171ff;
}

.fa-heart{

    font-size:24px;
    color:#0171ff;
}

.fa-dog{

    font-size:24px;
    color:#0171ff;
}




/*texte des filtres*/
.keywords{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
}


/* les résultats des recherches*/

#section-housing-result{

    grid-area: section-housing-result;
}

/*Info sur les biens disponilbes dans la ville*/
#info-city{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
}

#leter-i{

    min-width: 20px;
    min-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #0171ff;
    border: 1px solid #dbdbdb;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 20px;
}

#leter-i > .fa-info{

    font-size: 1rem;
    color:#0171ff;
}

/* Résultat des recherches */
#containt-housing{

    max-width: 100%;
    min-width: 675px;
    height: 90%;
    background-color: #f2f2f2;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0px;
    -ms-flex-pack: distribute;
}

#containt-housing > h2{
    padding-left: 40px;
}




/* Bouton Afficher plus */

#more{

    -ms-flex-item-align: start;

        align-self: flex-start;
    margin-left: 40px;
    border: none;
    font-weight: 600;
    font-size: 0.9rem;
    outline: none;
}

/*Tableau des résultats*/
#accommodation-grid{
    
    display: -ms-grid;
    
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px;
    row-gap: 5px;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
    justify-items: center;
    -ms-grid-rows: 50% 5px 50%;
    grid-template-rows: 50% 50%;
    -ms-grid-columns: 33.33% 5px 33.33% 5px 33.33%;
    grid-template-columns: 33.33% 33.33% 33.33%;
            grid-template-areas: 
        "child-1 child-2 child-3"
        "child-4 child-5 child-6"
    ;
}


.result-accommodation{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    margin: 5px;
    height: 200px;
    min-width: 170px;
    max-width: 250px;
    border: 3px solid #ffffff;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;
    overflow: hidden; 
}

.result-accommodation:hover{

    -webkit-box-shadow: 0 0 5px rgba(48, 33, 33, 0.5);

            box-shadow: 0 0 5px rgba(48, 33, 33, 0.5);
}

/* Image et déscription du bien-1 */
.container-img-and-describe{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    
}


.result-accommodation > .container-img-and-describe > .box-img{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 65%;
}

/* Image du bien */
.result-accommodation > .container-img-and-describe > .box-img > img{


    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
/* déscription du bien */
.result-accommodation > .container-img-and-describe > .describe-accommodation{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 35%;
    background-color: #ffffff;
    padding-left: 20px;
}

.information{

    line-height: 5px;
    font-size: 0.85rem;
}

/* les etoiles*/
.location{

    font-weight: bolder;
}

#notes-result-1 > .fa-star:nth-child(5){

    color: #dbdbdb;
}

#notes-result-3 > .fa-star:nth-child(5){

    color: #dbdbdb;
}

#notes-result-4 > .fa-star:nth-child(4), #notes-result-4 > .fa-star:nth-child(5){

    color: #dbdbdb;
}

#notes-result-5 > .fa-star:nth-child(5){

    color: #dbdbdb;
}



/*Les plus populaires*/
#most-popular{

    grid-area: most-popular;
    
}

#most-popular > #containt-popular{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: auto;
    height: 90%;
    margin-left: 0px;
    padding-left:40px;
    padding-right: 40px;
    border-radius: 40px;
    background-color: #f2f2f2;

}


#most-popular > #containt-popular > #title-popular{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.fa-chart-line{

    font-size: 20px;
    color: black;
}

/*tableau des plus populaires*/
#container-popular{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 590px;
    min-width: 100px;
    -ms-flex-pack: distribute;
        justify-content: space-around;

}

#container-popular > .result-popular{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    width: 100%;
    height: 150px;
    border: 3px solid #ffffff;
    border-radius: 40px;
    text-decoration: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    color: black;
    overflow: hidden;
 
}

#container-popular > .result-popular:hover{

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* image et description du bien populaire-1 */
.result-popular > .img-and-describe-popular{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    background-color: #ffffff;
}

.result-popular > .img-and-describe-popular > .box-img-popular{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    min-width: 100px;
    max-width: 40%;
    height: 100%;
}

.result-popular > .img-and-describe-popular > .box-img-popular > img{

    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}


.result-popular >.img-and-describe-popular > .describe-popular{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 20px;
    padding-right: 10px;
    min-width: 100px;
    height: 100%;
    
}

.describe-popular > .information-popular{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-height: 110px;

}

.describe-popular > .information-popular > .location{

    font-size: 1rem;

}

.describe-popular > .information-popular > .price{

    font-size: 0.9rem;
}

.notes-stars{
    
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 15px;
    color: black;
}

#notes-popular-2 > .fa-star:nth-child(5){
    color: #dbdbdb;
}

#notes-popular-3 > .fa-star:nth-child(5){
    color: #dbdbdb;
}

/*section-activités*/
#activity{

    grid-area: activity;
}

#container-activity{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
}

#container-activity > h2{
    padding-left: 40px;
}

/*grille des activites*/
#containt-activity{

    display: -ms-grid;

    display: grid;
    -ms-grid-rows: 1fr 30px 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "activity-1 activity-2 activity-4 activity-5"
        "activity-1 activity-3 activity-4 activity-6";

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
    justify-items: center;
    gap: 30px 20px;
    max-width: 1870px;
    max-height: 545px;
    padding: 10px;
}

#activity > h2{
    padding-left: 40px;
}

#activity-1{

    grid-area: activity-1;
}

#activity-2{

    grid-area: activity-2;
}

#activity-3{
    grid-area: activity-3;
    
}

#activity-4{
    grid-area: activity-4;

}

#activity-5{
    grid-area: activity-5;
}

#activity-6{
    grid-area: activity-6;

}

.activity-box{

    position: relative;
    min-height: 190px;
    max-width: 360px;
    max-height: auto;
    overflow: hidden;
    border-radius: 20px;
    -webkit-box-shadow:  0 0 8px rgba(0, 0, 0, 0.3);
            box-shadow:  0 0 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: black;

}

.activity-box:hover{
    -webkit-box-shadow:  0 0 8px rgba(0, 0, 0, 0.5);
            box-shadow:  0 0 8px rgba(0, 0, 0, 0.5);

}

.container-img-and-describe{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.box-img-activity{
    height: 100%;
    width: 100%;
}

.box-img-activity > img{

    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;

}

.box-describe-activity{

    background-color: white;
    font-weight: bold;
    width: 100%;
    position: absolute;
    padding-left: 20px;
    bottom: 0px;
}

/*Le footer*/
footer{
    grid-area: footer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 40px;
    background-color: #f2f2f2;
    max-width: 100%;
    max-height: 100%;
    
}

.footer-container{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}


.footer-option{

    text-decoration: none;
    color: black;
    line-height: 2;
    font-size: 0.95rem;
}

.footer-option:hover{

    text-decoration: underline;
}


@media (max-width: 1200px){

    #containeur{

    
        display: -ms-grid;

    
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 90px 370px 745px 573px 209px;
        grid-template-rows: 90px 370px 745px 573px 209px;
                grid-template-areas:
            "head head"
            "section-research section-research"
            "section-housing-result most-popular"
            "activity activity"
            "footer footer";
    }
   
    h2{
        font-size: 1rem;
    }

    /*navigateur du site*/
    header > nav{

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        width: 100%;
        height: 100px;
    }

    header > nav > #navigation{

        height: auto;
    }

    header > nav > #logo-reservia{

        -ms-flex-item-align: center;

            -ms-grid-row-align: center;

            align-self: center;
    }

    #navigation > li{

        padding-top: 0px; 
    }

    /*bar de recherche et filtres*/

    em{

        font-size: 1rem;
    }

    #section-research > #research{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #section-research > #research > p{

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        line-height: 1.5;
    }

    #filter{

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: auto;
    }

    /*texte des filtres*/
    
    #info-city{
        -ms-flex-item-align: start;
            align-self: flex-start;
    }
    /*Tableau des résultats*/
    #accommodation-grid{
    
    display: -ms-grid;
    
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-auto-flow: column;
    row-gap: 5px;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
    -ms-grid-rows: 50% 5px 50%;
    grid-template-rows: 50% 50%;
    -ms-grid-columns: 50% 5px 50%;
    grid-template-columns: 50% 50%;
    padding: 10px;
    overflow: auto;
            grid-template-areas: 
        "child-1 child-2" 
        "child-3 child-4"
        " child-5 child-6"
    ;
    }

    /* les résultats des recherches*/
    #containt-housing{

        min-width: 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 0px;
        -ms-flex-pack: distribute;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #containt-housing > h2{

        margin-left: inherit;
        -ms-grid-column-align: center;
            justify-self: center;
        padding-left: inherit;
        }

    /*grille des activites*/
    #containt-activity{

    -ms-grid-rows: 1fr 1fr;

    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
        "activity-1 activity-2 activity-3"
        "activity-4 activity-5 activity-6";
    }

    .footer-option{
     
        line-height: 1.5;
    }
    
}

@media (max-width: 980px){


    #containeur{

        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 90px 300px 745px 573px 209px;
        grid-template-rows: 90px 370px 680px 573px 209px;
            grid-template-areas:
            "head head"
            "section-research section-research"
            "section-housing-result most-popular"
            "activity activity"
            "footer footer";
    }


    /*Tableau des résultats*/
    #accommodation-grid{
 
     -ms-grid-rows: 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr;
 
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
     -ms-grid-columns: 1fr;
     grid-template-columns: 1fr;
     row-gap: 0px;
     -webkit-column-gap: 5px;
        -moz-column-gap: 5px;
             column-gap: 5px;
     
 }
    
 /*bouton de recherche*/
 .btn-filter{

 display: -webkit-box;

 display: -ms-flexbox;

 display: flex;
 width: auto;
 height: 50px;
 border: 2px solid #dbdbdb;
 border-radius: 50px;
 margin-left: 25px;
 margin-top: 10px;
 margin-bottom: 10px;   
 
 }

 /*texte des filtres*/
 .keywords{

     padding-left: 10px;
     padding-right: 10px;
     font-weight: bolder;
     }

 /* Résultat des recherches */
 #containt-housing{

 min-width: 320px;
 }


}


@media (max-width: 769px){
    

    /*filtres de sélection*/
    #filter > p{
        font-size: 0.9rem;

    }

    /*texte des filtres*/
    .keywords{
        font-size: 0.8rem;
    }

    
    
    /* Résultat des recherches */

    #section-housing-result{

        margin-left: 0px;
        margin-right: 0px;
    }

    #containt-housing{

        min-width: 100px;

    }


    /*Info sur les biens disponilbes dans la ville*/

    #containeur{

        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 90px 300px 745px 573px 209px;
        grid-template-rows: 90px 400px 745px 573px 209px;
            grid-template-areas:
            "head head"
            "section-research section-research"
            "section-housing-result most-popular"
            "activity activity"
            "footer footer";
    }
    
    /*Tableau des résultats*/
    .result-accommodation{

        min-width: 190px;
        min-height: auto;

    }


    /*Les plus populaires*/
    #most-popular > #containt-popular{
        
        padding-left:10px;
        padding-right: 10px;

    }

    /*tableau des plus populaires*/

    
    #container-popular > .result-popular{

        max-height: 135px;
        max-width: 250px;
    }

    .result-popular >.img-and-describe-popular > .describe-popular{

        padding-left: 10px;
        
    }


    .describe-popular > .information-popular > .location{

        font-size: 0.9rem;
    
    }
    
    .describe-popular > .information-popular > .price{
    
        font-size: 0.8rem;    
    }

    #container-activity > h2{
        padding-left: 40px;
    }

    /*grille des activites*/
    #containt-activity{
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "activity-1 activity-2"
            "activity-3 activity-4"
            "activity-5 activity-6"
            "activity-7 activity-8"
            ;
        overflow: auto;
    }  

    .box-describe-activity{

        font-size: 0.9rem;
    }


}

@media (max-width: 576px){

    .placement{

        margin: 0px;
    }
    #containeur{

    
        display: -ms-grid;

    
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows:  130px 490px 670px 1fr 1fr;
        grid-template-rows:  130px 490px 670px 1fr 1fr;
                grid-template-areas:
            "head"
            "section-research"
            "most-popular"
            "section-housing-result"
            "activity"
            "footer";
    }

    /*head*/


    /* navigateur du site */

    header{

        -webkit-box-orient: vertical;

        -webkit-box-direction: normal;

            -ms-flex-direction: column;

                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }


    header > nav{

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;    
        width: 100%;
        height: 200px;
        margin-right: 0px;
        margin-left: 0px;

    }
    header > nav > #logo-reservia{

        left: 20px;
        top: 10px;

    }

    header > nav > #subsrcibe{

        position: absolute;
        right: 20px;
        top: 30px;
        text-decoration: none;
        color: #0065FC;
        font-size: 1.1rem;
        font-weight: bold;
        height: 20px;
    }

    header > nav > #navigation{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0px;
        width: 100%;
        -ms-flex-item-align: end;
            align-self: flex-end;
        -webkit-box-flex: 100%;
            -ms-flex-positive: 100%;
                flex-grow: 100%;
        -webkit-padding-start: 0px;
                padding-inline-start: 0px;
    }

    
    #navigation > li{

        width: 50%;
    }

    #navigation > li > a{

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: auto;
        margin: 0px;
        padding: 0px;
        padding-bottom: 15px;
        border-bottom: 4px solid #dbdbdb;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font: 1em 'Raleway',sans-serif;
        text-align: center;
        color:black;
        line-height: 1em;
        text-decoration: none;
    }



    #navigation > li > a:hover{

        border-top: none;
        font: 1em 'Raleway',sans-serif ;
        text-align: center ;
        color:black;
        line-height: 1em ;
        text-decoration: none ;
    }


    #navigation > li > a:active{

        border-top: none;
        border-bottom: 4px solid #0065FC;
        font: 1em 'Raleway',sans-serif ;
        text-align: center ;
        color:#0065FC;
        line-height: 1em ;
        text-decoration: none ;
    }

    /*<!bar de recherche et filtres*/

    #section-research{

        -webkit-box-pack: start;

            -ms-flex-pack: start;

                justify-content: flex-start;
        
    }

    #section-research > #research > p{

        font-size: 1rem;
        line-height: 1;
    }

    #section-research > #research > p > em{

        font-size: 1.5rem;
        margin-left: 20px;
    }

    input[type="submit"]{
        display: none;
        font-size: 1rem;
    }

    #button{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #0171ff;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 50px;
        width: 50px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        color: white;
        outline: none;
        border: none;
        
    }

    #button:active{

        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    
    .btn-filter:hover{

        border: 2px solid #dbdbdb;
        background-color: inherit;
        color: inherit;
        -webkit-box-shadow: inherit;
                box-shadow: inherit;
    }
    
    .btn-filter:active{

        border: 2px solid #0171ff;
        background-color: #0171ff;
        color: white;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    #filter{

        -webkit-box-pack: start;

            -ms-flex-pack: start;

            justify-content: flex-start;
    }

    #filter > p{

        margin-left: 20px;
        width: 90%;
        font-size: 1rem;
        font-weight: bold;
    }

    /* Résultat des recherches */
    #containt-housing{

        background-color: inherit;

    }

    /*Tableau des résultats*/
    #accommodation-grid{

        overflow: inherit;

    }

    .result-accommodation{

        max-width: 100%;
        border: 5px solid #ffffff;
    }

    /*Les plus populaires*/

    #most-popular > #containt-popular{
        border-radius: inherit;

    }

    /* Bouton Afficher plus */

    #more{
    background-color: inherit;
    }

    #container-popular > .result-popular{

        border: 5px solid #ffffff;
        border-radius: 25px;
        max-width: inherit;
        max-height: 270px;

    }

    .describe-popular > .information-popular > .location{

        font-size: 1rem;
    
    }
    

    #container-activity{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    /*grille des activites*/
    #containt-activity{

        -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
                grid-template-areas: 
            "activity-1"
            "activity-2"
            "activity-3"
            "activity-4"
            "activity-5"
            "activity-6"
        ;
        overflow: inherit;
        padding: inherit;
    }

    .activity-box{
        max-width: 90%
    }

    /*Le footer*/
    footer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 30px;
        
    }

    .box-describe-activity{

        font-size: 1rem;
    }

    .footer-option{

        line-height: 1.5;
    }
}

@media (max-width: 401px){

    #containeur{

    
        display: -ms-grid;

    
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows:  130px 550px 670px 1430px 1350px;
        grid-template-rows:  130px 550px 670px 1430px 1350px;
                    grid-template-areas:
            "head"
            "section-research"
            "most-popular"
            "section-housing-result"
            "activity"
            "footer";
    }

    /*<!bar de recherche et filtres*/
    #city-search{
        width: 260px;
    }

    /* info sur les biens disponibles dans la ville*/
    #info-city > p{
        font-size: 1rem;
    }


}

@media (max-width: 362px){

    #containeur{

    
        display: -ms-grid;

    
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows:  130px 640px 670px 1430px 1350px;
        grid-template-rows:  130px 640px 670px 1430px 1350px;
                    grid-template-areas:
            "head"
            "section-research"
            "most-popular"
            "section-housing-result"
            "activity"
            "footer";
    }

    #city-search{
        margin-left: inherit;
        text-align: center;
        padding-left: inherit;
    }
}



