/* Génerale */

body{

    padding: 0px;
    margin: 0px;
    font: 16px 'Raleway',sans-serif ;

}

#containeur{

    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 90px 270px 745px 573px 209px;
    grid-template-areas:
        "head head"
        "section-research section-research"
        "section-housing-result most-popular"
        "section-4 section-4"
        "footer footer";
}

/* Assignation de marge de 53px a droite et à gauche*/
.placement{

    margin-left: 20px;
    margin-right: 20px;
}
em{

    font-weight: bold;
    font-size: 1.5rem;
    font-style: normal;
}


/* les notes étoiles*/

.fa-star{

    font-size:10px;
    color: #0171ff; 
}

/*head*/

header{

    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}
/*navigateur du site*/
header > nav{

    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* le logo réservia*/
header > nav > #logo-reservia{

    size: 100px;
    align-self: flex-end;
}


header > nav > #navigation{

    display: flex;
    justify-content: space-around;
    width: 490px;
    list-style: none;  
}

#navigation > li{

    padding-top: 55px;
}

#navigation > li :hover{

    padding-top: 55px;
    border-top: 2px solid #0065FC;
}

#navigation > li :active{

    padding-top: 55px;
    border-top: 2px solid #0065FC;
    color:  #0065FC;
}

#navigation > li :visited{

    padding-top: 55px;
    border-top: 2px solid #0065FC;
    color:  #0065FC;
}

#navigation > li > a{

    font: 1em 'Raleway',sans-serif ;
    text-align: center ;
    line-height: 1em ;
    text-decoration: none ;
}

#navigation > li > a:hover{

    font: 1em 'Raleway',sans-serif ;
    text-align: center ;
    color:black;
    line-height: 1em ;
    text-decoration: none ;

}

/*<!bar de recherche et filtres*/

#section-research{

    grid-area: section-research;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#section-research > #research > p{

    font-size: 0.9rem;
    font-weight: lighter;
    line-height: 1.5;

}

.search-box{

    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 450px;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    overflow: hidden;
    outline: none;
}

.position{

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #f2f2f2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn{

    background-color: #0171ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 135px;
    font-weight: 800;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1rem;
    color: white;
    outline: none;
    border: none;
}

.btn:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


input{
    padding: 5px;
    border: none;
    outline: none;
    font-size: 1.1rem;
}

#city-search{

    margin-left: 50px;
    padding-left: 20px;
}



/*bouton de recherche*/
.btn-filter{

    display: flex;
    width: auto;
    height: 50px;
    border: 2px solid #dbdbdb;
    border-radius: 50px;
    overflow: hidden;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    
    
}

.btn-filter:hover{

    border: 2px solid #0171ff;
    background-color: #0171ff;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

/*filtres de sélection*/
#filter{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 940px;
    height: auto;
}
/*Les images des filtres*/
.img-filtre{

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0edff;
    width: 50px;
    height: auto;
    background-color: #e0edff;
    border-radius: 50px;
    outline: none;
}


.fa-money-bill-wave{

    font-size: 24px;
    color: #0171ff;
}

.fa-child{

    font-size:24px;
    color:#0171ff;
}

.fa-heart{

    font-size:24px;
    color:#0171ff;
}

.fa-dog{

    font-size:24px;
    color:#0171ff;
}




/*texte des filtres*/
.keywords{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
}


/* les résultats des recherches*/

#section-housing-result{

    grid-area: section-housing-result;

}

/*Info sur les biens disponilbes dans la ville*/
#info-city{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}

#leter-i{

    min-width: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0171ff;
    border: 1px solid #dbdbdb;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 20px;
}

#leter-i > .fa-info{

    font-size: 1rem;
    color:#0171ff;
}

#info-city > p{

    font-family: 'Raleway', sans-serif;
    font-weight: lighter;   
}

/* Résultat des recherches */
#containt-housing{

    max-width: 100%;
    min-width: 675px;
    height: 90%;
    background-color: #f2f2f2;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    justify-content: space-around;
}

#containt-housing > p{

    font-size: 1.2rem;
    position: relative;
    font-weight: 600;
    margin-left: 40px;
}

/* Bouton Afficher plus */
#more{

    align-self: flex-start;
    margin-left: 40px;
    border: none;
    font-weight: 600;
    font-size: 0.9rem;
    outline: none;
}

/*Tableau des résultats*/
#accommodation-grid{
    
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 40px;
    row-gap: 5px;
    column-gap: 5px;
    justify-items: center;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas: 
        "child-1 child-2 child-3"
        "child-4 child-5 child-6"
    ;
    height: 75%;
}


.result-accommodation{

    display: flex;
    margin: 5px;
    height: 200px;
    min-width: 170px;
    max-width: 250px;
    border: 3px solid #ffffff;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: black;
    overflow: hidden; 
}

.result-accommodation:hover{

    box-shadow: 0 0 5px rgba(48, 33, 33, 2);
}

/* Image et déscription du bien-1 */
.container-img-and-describe{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}


.result-accommodation > .container-img-and-describe > .box-img{

    display: flex;
    flex-direction: column;
    height: 65%;
}

/* Image du bien */
.result-accommodation > .container-img-and-describe > .box-img > img{


    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* déscription du bien */
.result-accommodation > .container-img-and-describe > .describe-accommodation{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
    background-color: #ffffff;
    padding-left: 20px;
    
}

.information{

    line-height: 5px;
    font-size: 0.85rem;
}

/* les etoiles*/
.location{

    font-weight: bolder;
}

#notes-result-1 > .fa-star:nth-child(5){

    color: #dbdbdb;
}

#notes-result-3 > .fa-star:nth-child(5){

    color: #dbdbdb;
}

#notes-result-4 > .fa-star:nth-child(4), #notes-result-4 > .fa-star:nth-child(5){

    color: #dbdbdb;
}

#notes-result-5 > .fa-star:nth-child(5){

    color: #dbdbdb;
}



/*Les plus populaires*/
#most-popular{

    grid-area: most-popular;
    
}

#most-popular > #containt-popular{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: 90%;
    margin-top: 50px;
    margin-left: 0px;
    padding-left:40px;
    padding-right: 40px;
    border-radius: 40px;
    background-color: #f2f2f2;

}


#most-popular > #containt-popular > #title-popular{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 1.1rem;
    margin-top: 20px;
    align-items: center;
    width: 100%;
    
}

.fa-chart-line{

    font-size: 20px;
    color: black;
}

/*tableau des plus populaires*/
#container-popular{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 590px;
    min-width: 100px;
    justify-content: space-around;

}

#container-popular > .result-popular{

    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 150px;
    border: 3px solid #ffffff;
    border-radius: 40px;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    color: black;
    overflow: hidden;

    
}

#container-popular > .result-popular:hover{

    box-shadow: 0 0 5px rgba(0, 0, 0, 2);
}

/* image et description du bien populaire-1 */
.result-popular > .img-and-describe-popular{

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: #ffffff;
    border-radius: 35px;
}

.result-popular > .img-and-describe-popular > .box-img-popular{

    display: flex;
    min-width: 100px;
    max-width: 40%;
    height: 100%;
}

.result-popular > .img-and-describe-popular > .box-img-popular > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}


.result-popular >.img-and-describe-popular > .describe-popular{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 10px;
    min-width: 100px;
    height: 100%;
    
}

.result-popular >.img-and-describe-popular > .describe-popular > .information-popular{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 0.85rem;
}

.result-popular > .describe-popular > .information-popular > .notes-stars{

    margin-left: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 15px;
    color: black;
}

#notes-popular-2 > .fa-star:nth-child(5){
    color: #dbdbdb;
}

#notes-popular-3 > .fa-star:nth-child(5){
    color: #dbdbdb;
}

#section-4{

    grid-area: section-4;
    background-color: yellow;
}

@media (max-width: 1200px){

    #containeur{

    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90px 300px 745px 573px 209px;
        grid-template-areas:
            "head head"
            "section-research section-research"
            "section-housing-result most-popular"
            "section-4 section-4"
            "footer footer";
    }
   
    /*navigateur du site*/
    header > nav{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
    }

    header > nav > #navigation{

        height: auto;
        width: 100%;
    }

    header > nav > #logo-reservia{

        align-self: center;
    }

    #navigation > li{

        padding-top: 0px; 
    }

    /*<!bar de recherche et filtres*/

    em{

        font-size: 1rem;
    }

    #section-research > #research{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #section-research > #research > p{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        font-weight: lighter;
        line-height: 1.5;
    
    }

    #filter{

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: auto;
    }

    /*texte des filtres*/
    

    /*Tableau des résultats*/
    #accommodation-grid{
    
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    padding: 10px;
    overflow: auto;
    grid-template-areas: 
        "child-1 child-2" 
        "child-3 child-4"
        " child-5 child-6"
    ;
    height: 75%;
}

    /* les résultats des recherches*/
    #containt-housing{

        max-width: 100%;
        min-width: 200px;
        height: 90%;
        background-color: #f2f2f2;
        border-radius: 40px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-right: 0px;
        justify-content: space-around;
        align-items: center;
    }

    #containt-housing > p{

        font-size: 1.2rem;
        position: relative;
        font-weight: 600;
        justify-self: center;
        margin-left: 0px;
        }
}

@media (max-width: 980px){

       /*Tableau des résultats*/
       #accommodation-grid{
    
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 0px;
        column-gap: 5px;
        
    }

    /*bouton de recherche*/
.btn-filter{

    display: flex;
    width: auto;
    height: 50px;
    border: 2px solid #dbdbdb;
    border-radius: 50px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 10px;   
    
}

    /*texte des filtres*/
    .keywords{

        padding-left: 20px;
        padding-right: 20px;
        font-weight: bolder;
        font-size: 0.8rem;
        }

    /* Résultat des recherches */
    #containt-housing{

    min-width: 320px;
}



}


@media (max-width: 769px){
    

    /*filtres de sélection*/
    #filter > p{
        font-size: 0.9rem;


    }

    
    
    /* Résultat des recherches */

    #section-housing-result{

        margin-left: 0px;
        margin-right: 0px;
    }
    #containt-housing{

        min-width: 100px;

    }

    #containt-housing > p{
        font-size: 0.9rem;
    }


    /*Info sur les biens disponilbes dans la ville*/
    #info-city{

        font-size: 0.9rem;
    }


    


    /*Tableau des résultats*/
    .result-accommodation{

        min-width: 190px;
        min-height: auto;

    }


    /*Les plus populaires*/
    #most-popular > #containt-popular{
        
        padding-left:10px;
        padding-right: 10px;

    }

    #most-popular > #containt-popular > #title-popular{

        font-size: 0.9rem;
    }


    /*tableau des plus populaires*/

    
    #container-popular > .result-popular{

        max-height: 135px;
        max-width: 250px;
    }

    .result-popular >.img-and-describe-popular > .describe-popular{

        padding-left: 10px;
        

    }





}

@media (max-width: 576px){

    .placement{

        margin: 0px;
    }
    #containeur{

    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  130px 2fr 2fr 1fr 1fr;
        grid-template-areas:
            "head"
            "section-research"
            "section-housing-result"
            "most-popular"
            "section-4 "
            "footer";
    }

    /*head*/


    /* navigateur du site */

    header{

        justify-content: flex-start;
    }


    header > nav{

        display: flex;
        
        width: 100%;
        height: 100px;
        margin-right: 0px;
        margin-left: 0px;

    }

    header > nav > #logo-reservia{

        align-self: flex-start;
        margin-left: 5%;
    }



    #navigation > li :hover{

        padding-top: 0px;
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
    
    #navigation > li :active{
    
        padding-top: 0px;
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color:  #0065FC;
    }
    
    #navigation > li :visited{
    
        padding-top: 0px;
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color:  #0065FC;
    }

    header > nav > #navigation{

        width: 100%;
        display: flex;
        justify-content: center;

    }


    header > nav > #navigation > .naviga:nth-child(3){

        position: absolute;
        top: 10%;
        right: 5%;
    }

   



    

}